#0day安全
!0day安全
0day安全/*
!0day安全/0day 安全：软件漏洞分析技术.pdf

#git
!git
git/*
!git/Git基础系列-12.docx

#java
!java
java/*
!java/企业及互联网项目_NETCTOSS_IMAGE版.pdf

#linux
!linux
linux/*
!linux/Advanced Bash-Scripting Guide.epub
!linux/Advanced Bash-Scripting Guide.pdf
!linux/An in-depth exploration of the art of shell scripting.pdf

#make
!make
make/*
!make/跟我一起写Makefile.pdf

#PE
!PE
PE/*
!PE/PE文件结构详解_超详细_C代码.doc
!PE/PE结构图.jpg

#perl
!perl
perl/*
!perl/perl_tutorial.pdf

#php
!php
php/*
!/PHP参考手册.pdf

#PlantUML
!PlantUML
PlantUML/*
!PlantUML_Language_Reference_Guide_ZH.pdf

#powershell
!powershell
powershell/*
!powershell/Windows PowerShell实战指南（第2版）.zip
!powershell/windows_powershell_3.0_step_by_step.zip

#PyQt5
!PyQt5
PyQt5/*
!PyQt5/PyQt5 Tutorial Documentation Release 1.0.pdf
!PyQt5/Rapid GUI Programming with Python and Qt.pdf

#python
!python
python/*
!python/Black Hat Python.pdf
!python/crossin-Py基础系列-62.docx
!python/Python+Requests+Essentials.pdf
!python/Python灰帽子.pdf
!python/violent-py.pdf
!python/Python自动化运维：技术与最佳实践.epub

#ruby
!ruby
ruby/*
!ruby/Ruby_Programming_向Ruby之父学程序设计_第2版.pdf

#web
!web
web/*
!web/\[黑客攻防技术宝典Web实战篇\].Dafydd.Stuttard.第2版中文高清版.pdf
!web/HTML5.pdf
!web/JavaScript高级程序设计（第3版）中文 高清 完整 详细书签版.pdf
!web/OWASP Top 10 2017.pdf
!web/OWASP 测试指南 V3.0.pdf
!web/OWASP 测试指南 V4.0.pdf
!web/SQL注入自学指南.pdf
!web/Web前端黑客技术揭秘.pdf

#Windows
!Windows
Windows/*
!Windows/操作系统精髓与设计原理  第8版.zip
!Windows/深入解析Windows操作系统_第6版.zip

#Windows API
!Windows
Windows/*
!Windows/win32-api.pdf
!Windows/windows API 一日一练1.pdf
!Windows/Windows API一日一练2.pdf
!Windows/Windows Programming.pdf
!Windows/Windows95 程序设计.pdf


中国传世经典/

#加密解密
!加密解密
加密解密/*
!加密解密/加密与解密  （第三版）完整版.pdf

#大数据
!大数据
大数据/*
!大数据/第一届全国大学生大数据技能竞赛手册.pdf
!大数据/第二届全国大学生大数据技能竞赛手册.pdf

#数据结构
!数据结构
数据结构/*
!数据结构/数据结构教学代码.zip
!数据结构/数据结构课件.ppt
!数据结构/数据结极（C++语言版）第3版.pdf

#新概念英语第四册
!新概念英语第四册
新概念英语第四册/*
!新概念英语第四册/新概念英语第四册超全.pdf
!新概念英语第四册/新概念英语第四册全翻译.doc

算法导论/

drag.txt